@{
    ViewData["Title"] = "Result"; 
}

<div class="text-center">
    <h1>Result</h1>
    <p>The result of the operation is: @ViewData["Result"]</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Go Home</a>
</div>

